<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EncryptKey" value="BeiJing#2008"/>
    <add key="influxDbUri" value="http://114.215.169.82:8086/write?db=mydb&amp;u=admin&amp;p=admin"/>
  </appSettings>
  <connectionStrings>
    <add name="LogDb" connectionString="N4PuJaLgVk6UN+J3zjBFqPOuIQv/IpMl1HXl+Dlv71KLlHsTysLXhPRmAeFvI6l5QOa0wJ9TGJeBypjbKxcCh4kNYzXW8QcNbBcPe1/WfRw="/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
