
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
<div>
    <form action="/Home/Add" method="post" >
        group: <input type="text" name="group" /> <br />
        key: <input type="text" name="key" /> <br />
        value: <input type="text" name="value" /> <br />
        <input type="submit" value="submit"/>
    </form>
</div>
</body>
</html>
