

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        配置管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 常用模块</a></li>
        <li class="active">配置管理</li>
    </ol>
</section>